.tutorial-popover{

  .popover-footer {
    text-align: center;
    margin: 10px;

    button {
      margin-left: 1px;
      margin-right: 1px;
    }

  }

  &.first-step  button[data-action="prev"] {
    display: none
  }

  &.last-step  button[data-action="next"] {
    display: none
  }
}

.tutorial-setup-popover {
  .popover-content {
    height: 150px;

    textarea {
      height: 90%;
    }
  }

  .popover-footer {
    text-align: center;
    margin-bottom: 10px;
  }
}

div.tutorial-setup-container {
  background-color: darkgrey;
  bottom: 10px;
  position: fixed;
  height: 200px;
  width: 100%;

  .tutorial-setup-item {
    background-color: rgb(172, 218, 255);
    width: 200px;
    height: 170px;
    float: left;
    padding: 5px;
    margin: 10px;

    div.text {
      width: 100%;
      height: 80%;
      overflow: hidden;
    }
  }
  .btn-row {
    padding-right: 10px;
  }
}